<!DOCTYPE HTML>
<html ng-app="employeeApp" ng-controller="homeController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Demo Employee Portal</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <h1 >Employee Portal</h1>
    <ul>
    <li><a href="../views/employeelist.html" class = "employeeList"> Employee List</a></li>
    <li><a href="../views/newemployee.html" class = "newEmployee"> New Employee</a></li>
    </ul>
</body>
</html>
